body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #F5F5F5;
    color: #222222;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

.btn-bg-black {
    background-color: #222222;
    color: #F5F5F5;
}

#title {
    text-align: center;
    position: relative;
    color: #F5F5F5;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    background: rgb(3,0,45);
    }

#title div p a {
    text-decoration: none;
    }

#title div p a:hover {
    text-decoration: underline;
}

#title div p {
    line-height: 0.6em;
    }

.rounded-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    }

#aboutMe {
    padding: 50px;
    height: auto;
    background: rgb(5, 0, 60);
    color: white;
    }
    
.card {
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    overflow-wrap: break-word;
    }

.card h2 {
    color: rgb(3,0,45);
}

.card h3 {
    color: rgb(5, 0, 60);
}

.card:hover {
    transform: translate(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }

.mb {
    margin-bottom: -8px;
}

#experiences {
    padding: 20px;
    line-height: 1.2;
}

#experiences h2 {
    padding: 20px;
    margin: auto;
}

#experiences hr {
    margin-left: 20px;
    margin-right: 20px;
}

#parcours {
    padding: 20px;
    line-height: 1.2;
    background-color: #ececec;
}

#parcours h2 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;
}

#parcours hr {
    margin-left: 20px;
    margin-right: 20px;
}

#skills {
    padding: 20px;
    line-height: 1.2;
}

#skills h2 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;
}

#skills hr {
    margin-left: 20px;
    margin-right: 20px;
}

.logo-progress {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
}

#soft-skills {
    padding: 20px;
    line-height: 1.2;
    background-color: #ececec;
    }

#soft-skills h2 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;
}

#soft-skills hr {
    margin-left: 20px;
    margin-right: 20px;
}

.soft-skills {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-softskills {
    width: 50px;
    height: 50px;
}

.logo-skills {
    width: 50px;
    height: 50px;
}

#hobbies {
    padding: 20px;
    line-height: 1.2;
}

#hobbies h2 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;
}

#hobbies hr {
    margin-left: 20px;
    margin-right: 20px;
}

.hobbies {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

#langues {
    padding: 20px;
    line-height: 1.2;
    background-color: #ececec;
}

#langues h2 {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: auto;
}

#langues hr {
    margin-left: 20px;
    margin-right: 20px;
}

.langues {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.langues div {
    flex-basis: 100px;
}

.logo-langues {
    width: 50px;
    height: 50px;
}

.logo-progress p {
    margin-top: -2px;
}

.logo-progress div {
    flex-basis: 150px;
}

.logo-progress span {
    flex-basis: 80px;
}

.logo-bar {
    width: 30px;
}

progress {
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.text-progress { 
     margin-top: 20px;
}

.text-blue {
    color: rgb(3,0,45);
}

footer {
    background: rgb(3,0,45);
    color: #F5F5F5;
    padding: 30px;
    text-align: center;
}

@media (min-width: 500px) {
    #aboutMe {
        padding-left: 80px;
        padding-right: 80px;
    }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 850px) {
    #aboutMe {
        padding-left: 170px;
        padding-right: 170px;
    }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media (min-width: 1000px) {
    #aboutMe {
        padding-left: 220px;
        padding-right: 220px;  
    }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (min-width: 1200px) {
    #aboutMe {
        padding-left: 270px;
        padding-right: 270px;
        }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media (min-width: 1400px) {
    #aboutMe {
        padding-left: 420px;
        padding-right: 420px;
        }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 400px;
        padding-right: 400px;
    }
}

@media (min-width: 1800px) {
    #aboutMe {
        padding-left: 520px;
        padding-right: 520px;
        }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 500px;
        padding-right: 500px;
    }
}

@media (min-width: 2150px) {
    #aboutMe {
        padding-left: 620px;
        padding-right: 620px;
        }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 600px;
        padding-right: 600px;
    }
}

@media (min-width: 2400px) {
    #aboutMe {
        padding-left: 720px;
        padding-right: 720px;
        }
    #experiences,
    #parcours ,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 700px;
        padding-right: 700px;
    }
}