body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(239, 246, 255);
    color: #343A40;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    padding: 20px;
    text-align: left;
    background-color: #0370e5;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

header div {
    position: relative;
    text-align: right;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.theme-checkbox {
    --toggle-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

.text-blue {
    color: #343A40;
}

.dark-mode {
    color: rgb(239, 246, 255);
    background-color: rgb(10, 10, 30);
}

.dark-mode header,
.dark-mode footer {
    background-color: rgb(30, 58, 138);
}

.dark-mode #title {
    background-color: rgb(23, 35, 95);
}

.dark-mode #aboutMe {
    background-color: rgb(28, 47, 65);
}

.dark-mode #parcours,
.dark-mode #soft-skills,
.dark-mode #langues {
    background-color: rgb(9, 14, 38);
}

.dark-mode .text-blue {
    color: rgb(239, 246, 255);
}

.dark-mode .card {
    background-color: rgb(28, 47, 65);
    color: rgb(239, 246, 255);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.4);
}

.dark-mode .card:hover {
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.4);
}

.dark-mode .card p {
    color: #ececec;
}

.dark-mode .logo-softskills,
.dark-mode .logo-hobbies {
    filter: invert(1);
}

#title {
    text-align: center;
    position: relative;
    color: rgb(239, 246, 255);
    width: 100%;
    padding: 20px;
    background-color: rgb(59, 130, 246);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

#title div p a {
    text-decoration: none;
}

#title div p a:hover {
    text-decoration: underline;
}

#title div p {
    line-height: 0.6em;
}

.rounded-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#aboutMe {
    padding: 50px;
    background-color: rgb(96, 165, 250);
    color: rgb(239, 246, 255);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.card {
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(245, 249, 255);
    overflow-wrap: break-word;
}

.card:hover {
    transform: translate(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.mb {
    margin-bottom: -8px;
}

#experiences,
#parcours,
#skills,
#soft-skills,
#hobbies,
#langues {
    padding: 20px;
    line-height: 1.2;
}

#experiences h2,
#parcours h2,
#skills h2,
#soft-skills h2,
#hobbies h2,
#langues h2 {
    padding: 20px;
    margin: auto;
}

#experiences hr,
#parcours hr,
#skills hr,
#soft-skills hr,
#hobbies hr,
#langues hr {
    margin-left: 20px;
    margin-right: 20px;
}

#parcours,
#soft-skills,
#langues {
    background-color: rgb(234, 243, 255);
}

.soft-skills,
.hobbies,
.langues {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-softskills,
.logo-skills,
.logo-langues {
    width: 50px;
    height: 50px;
}

.logo-progress {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
}

.logo-progress p {
    margin-top: -2px;
}

.logo-progress div {
    flex-basis: 150px;
}

.logo-progress span {
    flex-basis: 80px;
}

.logo-bar {
    width: 30px;
}

progress {
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.text-progress {
    margin-top: 20px;
}

footer {
    background: #007BFF;
    color: rgb(239, 246, 255);
    padding: 30px;
    text-align: center;
}

/* Media Queries */
@media (min-width: 500px) {
    #aboutMe,
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 60px;
        padding-right: 60px;
    }
    #aboutMe {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (min-width: 850px) {
    #aboutMe {
        padding-left: 170px;
        padding-right: 170px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media (min-width: 1000px) {
    #aboutMe {
        padding-left: 220px;
        padding-right: 220px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (min-width: 1200px) {
    #aboutMe {
        padding-left: 270px;
        padding-right: 270px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media (min-width: 1400px) {
    #aboutMe {
        padding-left: 420px;
        padding-right: 420px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 400px;
        padding-right: 400px;
    }
}

@media (min-width: 1800px) {
    #aboutMe {
        padding-left: 520px;
        padding-right: 520px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 500px;
        padding-right: 500px;
    }
}

@media (min-width: 2150px) {
    #aboutMe {
        padding-left: 620px;
        padding-right: 620px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 600px;
        padding-right: 600px;
    }
}

@media (min-width: 2400px) {
    #aboutMe {
        padding-left: 720px;
        padding-right: 720px;
    }
    #experiences,
    #parcours,
    #skills,
    #soft-skills,
    #hobbies,
    #langues {
        padding-left: 700px;
        padding-right: 700px;
    }
}